.eb-lecture-wrapper {
  cursor: move;
  height: 30px;
}

.contents-sortable {
  min-height: 30px;
  padding: 0 20px 20px 20px;
}

.eb-lecture {
  // cursor: move;
  height: 100%;
}

.eb-lecture-wrapper:hover {
  background-color: #e5c0df;
}

.sortable-ghost {
  opacity: .3;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}