<div class="eb-lecture eb-lecture-wrapper" style="padding-left: 10px"> 
  {{ lecture?.title}}
  <div *ngIf="lecture?.contents.length > 0" 
       [sortablejs]="lecture?.contents"
       [sortablejsOptions]="contentsSortablejsOptions" 
       [attr.data-lecture-id]="lecture?.id"
       style="display: grid;"
       class="contents-sortable">
    <eb-lecture-content
      *ngFor="let content of lecture.contents" 
      [attr.data-content-id]="content.id" 
      [content]="content">
    </eb-lecture-content>
  </div>
</div>