:host {
  overflow: hidden;
}

.list {
  overflow: auto;
  padding: 20px;
}

eb-module,
eb-lecture {
  display: block;
}

.sortable-ghost {
  opacity: .3;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}

.lectures-wrapper eb-lecture:first-child > div {
  border-top: transparent !important;
}