<div>
    MODULES LIST
  <div
    *ngIf="modulesList?.length > 0"
    class="list" 
    [sortablejs]="modulesList" 
    [sortablejsOptions]="modulesSortableOptions"
    >
    <eb-module 
      *ngFor="let module of modulesList" 
      [attr.data-module-id]="module.id" 
      [module]="module"
      ></eb-module>
  </div>

  <hr />
  <br>

  <div>
      LECTURES LIST  
    <br>  <br> 
    <div [sortablejs]="lecturesList"
       [sortablejsOptions]="lecturesSortablejsOptions" 
       class="list lectures-wrapper lectures-sortable">
    <eb-lecture 
      *ngFor="let lecture of lecturesList" 
      [attr.data-lecture-id]="lecture.id" 
      [lecture]="lecture">
    </eb-lecture>
  </div>
  </div>
</div>