eb-lecture {
  display: block;
}

.lectures-sortable {
  min-height: 72px;
  padding: 0 20px 20px 20px;
}

.eb-module-wrapper {
  cursor: move;
}

.eb-module-wrapper:hover {
  background-color: #f7f7f7;
}

.sortable-ghost {
  opacity: .3;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}