<div class="eb-module eb-module-wrapper"> 
  {{ module.title }} 
  <div [sortablejs]="module.lectures"
       [sortablejsOptions]="lecturesSortablejsOptions" 
       [attr.data-module-id]="module.id" 
       [style.display]="'block'"
       class="lectures-sortable">
    <eb-lecture 
      *ngFor="let lecture of module.lectures" 
      [attr.data-lecture-id]="lecture.id" 
      [lecture]="lecture">
    </eb-lecture>
  </div>
</div>