.eb-lecture-content-wrapper {
  cursor: move;
  height: 30px;
}

.eb-lecture-content {
  // cursor: move;
}

.eb-lecture-content-wrapper:hover {
  background-color: red;
}

.sortable-ghost {
  opacity: .3;
  -webkit-transition: opacity .6s;
  -moz-transition: opacity .6s;
  -o-transition: opacity .6s;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}